<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PiCloud</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2>Welcome to home page</h2>
<div class="container">
  	<div class="row">
      <div class="col-sm-2">
          <ul id="sidebar" class="nav nav-stacked affix">
            <li><a href="#">DashBoard</a></li>
            <li><a href="#">New App</a></li>
           </ul>
      </div>
</div>

    <!-- jQuery -->
    <script src="js/jquery-1.12.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
</body>
</html>
